@import "tailwindcss";

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: var(--font-roboto-mono), "Roboto Mono", monospace;
}

.pit-table td,
.pit-table th {
  border: 1px solid #dddddd;
  padding: 8px;
}

.pit-table tbody tr:nth-child(even) {
  background-color: #dddddd;
}

.yo {
  float: right;
}

.pit-footer {
  background-color: #eeeeee;
  position: relative;
  bottom: 0;
}

@media (max-width: 768px) {
  .pit-table,
  .pit-table td,
  .pit-table th {
    font-size: 0.9em;
  }

  .yo {
    float: none;
    text-align: center;
    display: block;
  }

  .pit-table .col-pl,
  .pit-table .col-price,
  .pit-table .col-date,
  .pit-table th.col-pl,
  .pit-table th.col-price,
  .pit-table th.col-date {
    display: none;
  }

  .hover-paragraph {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .pit-table,
  .pit-table td,
  .pit-table th {
    font-size: 0.8em;
  }

  .pit-table .col-numbits,
  .pit-table th.col-numbits {
    display: none;
  }
}
